@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);

$primary-color: #00b1ff;

$black: #000;
$dark-grey: #333;
$light-grey: #ccc;
$white: #fff;

$font-bold:700;


$base-unit: 10px;

$base-font-size: 16px;
$three-quarters-font-size: 12px;

$tablet-width: 768px;
$desktop-width: 1025px;

$heading-font: 'Raleway', sans-serif;
$base-font: 'Lato', sans-serif;
